<h2>Hi, I'm Miles</h2>

<h2>Find me on the internet</h2>

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/miles_">Twitter</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/miles-">Github</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://linkedin.com/in/milesfricker/">LinkedIn</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-instagram fa-lg main-list-item-icon"></span>
    <a href="https://instagram.com/m_i_l_e_s/">Instagram</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-envelope fa-lg main-list-item-icon"></span>
    <a href="mailto:miles.fricker@gmail.com">miles.fricker@gmail.com</a>
  </li>
</ul>
